<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/images/topmodels-logo-sm.png" alt="">
            </div>

            <div  class="col-md-3">
                <h3>
                    Menu
                </h3>
                <p><a href="http://www.topmodelsandevents.com.au/">Home</a></p>
                <p><a href="http://talent.topmodelsandevents.com.au/Artists/Standard/ArtistType_Promotional_Talent">Models</a></p>
                <p><a href="http://talent.topmodelsandevents.com.au/Artists/Standard/ArtistType_Promotional_Talent">Search Models</a></p>
                <p><a href="/contact-us.html">Contact</a></p>
            </div>

            <div class="col-md-3" ng-controller="accountController">
                <h3>
                    My Profile
                </h3>
                <p><a href="http://join.topmodelsandevents.com.au/">Register</a></p>
                <p><a ng-click="loginRedirect()" href="javascript:void(0)">My Profile</a></p>
                <p><a ng-click="loginRedirect()" href="javascript:void(0)">Login</a></p>
            </div>

            <div class="col-md-3">
                <h3>
                    Contact
                </h3>
                <p>Top Models and Events Pty Ltd</p>
                <p style="font-size: 8px;">(ACN: 136 340 264) (ABN: 27 136 340 264)</p>
                <p>PO Box 651, Rozelle NSW 2039</p>
                <p><strong>Phone: 1300 784 003</strong><br> Fax: 02 8569 1713</p>
                <p><a href="/contact.html">Contact From</a></p>
            </div>
        </div>
    </div>
</footer>