@{
    ViewBag.Title = "Compact";
}

@section scripts{
    <script>
        jQuery(document).ready(function () {
            angular.bootstrap(document, ["talent"]);
        });
    </script>
}
<link rel="stylesheet" href="/styles/compact.css" />
<link rel="stylesheet" href="/js/vendor/ngLazyImage/lazy-image-style.min.css" />
<div class="talent-content" ng-controller="artistListController" ng-init="init('Compact')">
    <!-- search begin -->
    <div class="section-search">
        <div class="search-bar">
            <div>
                <span class="pull-left text-uppercase">Talent</span>
                <span class="center-block text-center">{{filteredArtists.length}} Artists Found</span>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="section-filter">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Find Talent" ng-model="nameFilter">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
            <button class="btn btn-primary btn-block btn-search">SEARCH</button>
            <div ng-show="(filters | filter: filterSelected ).length > 0">
                <h6>SELECTED<br />FILTERS </h6>
                <dl ng-repeat="filter in selectedFilters=(filters | filter: filterSelected )" class="filter-selected">
                    <dt><a a href="javascript:void(0);">{{filter.Key}}<span ng-click="filter.selectedItem = null"></span></a></dt>
                    <dd><a a href="javascript:void(0);">{{filter.selectedItem.Key}}</a></dd>
                </dl>
            </div>
            <hr>
            <h6>FILTERS </h6>
            <dl ng-repeat="filter in filters" ng-class="{'filter-collapse': filter.isCollapse}" class="filter-container">
                <dt><a a href="javascript:void(0);">{{filter.Key}}<span ng-click="filter.isCollapse = !filter.isCollapse"></span></a></dt>
                <dd ng-repeat="item in filter.Value" ng-show="!filter.isCollapse"><a href="javascript:void(0)" ng-click="onSelectFilter(filter, item)" ng-class="{selected:item==filter.selectedItem}">{{item.Key}}</a></dd>
            </dl>
        </div>
        <div class="section-thumbs container-fluid">
            <div class="row">
                <artist ng-repeat="artist in filteredArtists = (artists | filter:nameFilter | filter: selectedFilters | filter: ageRangeFilter)" intro="artist">
                </artist>
            </div>
        </div>
    </div>
</div>

