@section scripts{
    <script>
            jQuery(document).ready(function(){
                angular.bootstrap(document,["talent"]);
            });
    </script>
}
<link rel="stylesheet" href="/styles/standard.css" />
<link rel="stylesheet" href="/js/vendor/ngLazyImage/lazy-image-style.min.css" />
<link rel="stylesheet" href="/js/vendor/angular.UI/select.css" />
<div>
    <div class="talent-content" ng-controller="artistListController" ng-init="init('Standard')">
        <!-- search begin -->
        <section class="section-search">
            <div class="search-bar">
                <div>
                    <span class="center-block text-center">{{filteredArtists.length}} Artists Found</span>
                </div>
            </div>

            <div class="search-filter-head">
                <a class="pull-right" href="javascript:void(0);" ng-click="showFilter=!showFilter">Search Filter<span class="caret"></span></a>
                <div class="input-group pull-left">
                    <input type="text" class="form-control" placeholder="Find Talent" ng-model="nameFilter">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="search-filters" ng-show="showFilter">
                <div class="container-fluid">
                    <div class="row">
                        <div class="filter" ng-repeat=" filter in filters">
                            <ui-select theme="bootstrap" ng-model="filter.selectedItem" ng-disabled="filter.Value.length < 2" >
                                <ui-select-match placeholder="{{filter.Key}}">{{$select.selected.Key}}</ui-select-match>
                                <ui-select-choices repeat="item in filter.Value | filter: $select.search">
                                    <span ng-bind-html="item.Key | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="submit">
                            <a class="btn btn-primary btn-block" ng-click="search()">Serach</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- search end-->
        <!-- list begin -->
        <section class="section-list">
            <div class="container-fluid">
                <div class="row">
                    <artist ng-repeat="artist in filteredArtists = (artists | filter:nameFilter | filter: selectedFilters | filter: ageRangeFilter)" intro="artist">
                    </artist>
                </div>
            </div>
        </section>
        <!-- list end-->
    </div>
</div>


