<div class="compcard-view">
    <div class="compcard-layout">
        <div class="container-fluid">
            <div class="row compcard-layout-1">
                <div class="compcard-images">
                    <div class="row">
                        <img src="http://app.at2casting.com/au/upload/photo/{{image}}h.jpg" ng-repeat="image in profile.CompCard.PhotoList | skip:1 | take:9" />
                    </div>
                    <div class="row">
                        <dl ng-repeat="stats in profile.CompCard.ProfileItems">
                            <dt>{{ findStats(stats).Name}}</dt>
                            <dd>{{ findStats(stats).Value}}</dd>
                        </dl>
                    </div>
                </div>
                <div class="compcard-info text-center">
                    <h3>
                        {{profile.FirstName + " " + profile.LastName}}
                    </h3>
                    <img src="http://app.at2casting.com/au/upload/photo/{{profile.CompCard.PhotoList[0] }}j.jpg" class="headshot img-responsive center-block" />
                    <img src="{{agency.Logo}}" id="agencyLogo" />
                    <address>
                        <strong>{{agency.AgencyName}}</strong><br>
                        {{agency.Addresses[0].AddressName}}, {{agency.Addresses[0].City}}<br>
                        {{agency.Addresses[0].StateName}}, {{agency.Addresses[0].CountryName}} {{agency.Addresses[0].PostCode}}<br>
                        <abbr title="Phone">P:</abbr> {{agency.Phone}}<br>
                        <abbr title="Mail">M:</abbr> <a href="mailto:{{agency.EmailDesc}}">{{agency.EmailDesc}}</a>
                    </address>
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-info" href="/print/compcard/{{profile.MemberID}}" target="_blank" download>PRINT COMPCARD</a>
        </div>
    </div>
</div>